In [2]:
#for loop
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
#With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
#1
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [7]:
#2
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [13]:
#3
st=input("enter name")
for x in range(0,len(st)+1):
  print(st[x:])

enter name chaitu

chaitu
haitu
aitu
itu
tu
u

In [15]:
#4
st=input("enter name")
for x in range(0,len(st)+1):
  print(st[:x])

enter name sneha

s
sn
sne
sneh
sneha

In [17]:
#5
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [19]:
#6
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#7
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [24]:
#8
l="python"
for x in l:
    print(x)

p
y
t
h
o
n

In [26]:
#9
numbers = [1, 2, 3, 4, 5]
total = 0
for number in numbers:
    total += number
print("Total:", total)

Total: 15

In [27]:
#10
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100