In [1]:
#SET
#Sets are used to store multiple items in a single variable.

#Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

#A set is a collection which is unordered, unchangeable*, and unindexed.

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry", "apple"}#Sets cannot have two items with the same value.

print(thisset)

{'banana', 'apple', 'cherry'}

In [6]:
thisset = {"apple", "banana", "cherry", True, 1, 2}#The values True and 1 are considered the same value in sets, and are treated as duplicates:

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [7]:
thisset = {"apple", "banana", "cherry", False, True, 0}#The values False and 0 are considered the same value in sets, and are treated as duplicates:

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [14]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [16]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [17]:
thisset = {"apple", "banana", "cherry"}#Check if "banana" is present in the set:

print("banana" in thisset)

True

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [21]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)#add elements from tropical into thisset

print(thisset)

{'mango', 'apple', 'papaya', 'pineapple', 'banana', 'cherry'}

In [22]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)#Add elements of a list to at set:

print(thisset)

{'apple', 'orange', 'banana', 'kiwi', 'cherry'}

In [24]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [25]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()#Remove a random item by using the pop() method:

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [29]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 'a', 3, 'b'}

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'John', 1, 2, 3, 'bananas', 'apple', 'Elena', 'c', 'a', 'b', 'cherry'}

In [34]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)#updates items from set2 into set1
print(set1)

{'c', 1, 2, 'a', 3, 'b'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)#Keep all items from set1 that are not in set2:

print(set3)

{'banana', 'cherry'}

In [41]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)#Keep the items that are not present in both sets:

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}