In [23]:
#Missing values
#Remove Rows
#One way to deal with empty cells is to remove rows that contain empty cells.
#This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.
import pandas as pd
data=pd.read_csv("C:/Users/Admin/Desktop/data (1).csv")
data
new_df=data.dropna()
print(new_df)

     Duration  Pulse  Maxpulse
0          60    110       130
1          60    117       145
2          60    103       135
3          45    109       175
4          45    117       148
..        ...    ...       ...
164        60    105       140
165        60    110       145
166        60    115       145
167        75    120       150
168        75    125       150

[169 rows x 3 columns]

In [11]:
#By default, the dropna() method returns a new DataFrame, and will not change the original.
#If you want to change the original DataFrame, use the inplace = True argument:

In [13]:
#Remove all rows with NULL values:

import pandas as pd

df = pd.read_csv('C:/Users/Admin/Desktop/data (1).csv')

df.dropna(inplace = True)

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [16]:
#Replace Empty Values
#Another way of dealing with empty cells is to insert a new value instead.
#This way you do not have to delete entire rows just because of some empty cells.
#The fillna() method allows us to replace empty cells with a value:
import pandas as pd

df = pd.read_csv('C:/Users/Admin/Desktop/data (1).csv')

nw=df.fillna(130, inplace = True)
print(nw)

None

In [18]:
import pandas as pd

df = pd.read_csv('C:/Users/Admin/Desktop/data (1).csv')

new=df["Calories"].fillna(130, inplace = True)
print(new)

None

In [19]:
import pandas as pd

df = pd.read_csv('C:/Users/Admin/Desktop/data (1).csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

In [21]:
import pandas as pd

df = pd.read_csv('C:/Users/Admin/Desktop/data (1).csv')

x = df["Calories"].median()

df["Calories"].fillna(x, inplace = True)

In [22]:
import pandas as pd

df = pd.read_csv('C:/Users/Admin/Desktop/data (1).csv')

x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)

In [24]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Check for missing values
missing_values = df.isna()  # or df.isnull()
print(missing_values)

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False
3  False  False  False

In [25]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Drop rows with any missing values
df_dropped_rows = df.dropna()
print(df_dropped_rows)

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [26]:
# Drop columns with any missing values
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

    C
0   9
1  10
2  11
3  12

In [28]:
# Create a DataFrame with some rows having all NaN values
data_with_all_nan_rows = {
    'A': [1, np.nan, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, np.nan, np.nan, 12]
}
df_with_all_nan_rows = pd.DataFrame(data_with_all_nan_rows)

# Drop rows where all values are missing
df_dropped_all_nan_rows = df_with_all_nan_rows.dropna(how='all')
print(df_dropped_all_nan_rows)

     A    B     C
0  1.0  5.0   9.0
3  4.0  8.0  12.0

In [29]:
# Drop columns where all values are missing
df_dropped_all_nan_columns = df_with_all_nan_rows.dropna(how='all', axis=1)
print(df_dropped_all_nan_columns)

     A    B     C
0  1.0  5.0   9.0
1  NaN  NaN   NaN
2  NaN  NaN   NaN
3  4.0  8.0  12.0

In [30]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Fill NaNs with a specific value (e.g., 0)
df_filled = df.fillna(0)
print(df_filled)

     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  0.0  11
3  4.0  8.0  12

In [31]:
# Fill NaNs with the mean of the column
df_filled_mean = df.fillna(df.mean())
print(df_filled_mean)

# Fill NaNs with the median of the column
df_filled_median = df.fillna(df.median())
print(df_filled_median)

# Fill NaNs with the mode of the column (mode returns a DataFrame)
df_filled_mode = df.fillna(df.mode().iloc[0])
print(df_filled_mode)

          A    B   C
0  1.000000  5.0   9
1  2.000000  6.5  10
2  2.333333  6.5  11
3  4.000000  8.0  12
     A    B   C
0  1.0  5.0   9
1  2.0  6.5  10
2  2.0  6.5  11
3  4.0  8.0  12
     A    B   C
0  1.0  5.0   9
1  2.0  5.0  10
2  1.0  5.0  11
3  4.0  8.0  12